<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="
    {%- if page.excerpt -%}
    {{ page.excerpt | strip_html | strip_newlines | strip | truncate: 160 }}
    {%- else -%}
    {{ site.description }}
    {%- endif -%}">
<title>
    {{- page.title | default:site.title -}}
</title>

{%- include head/favicon.html -%}

<link href="{{- '/style/css/style.css' | relative_url -}}" rel="stylesheet">

{%- include head/custom.html -%}